.handwriting {
	font-family: Itim;
}

.title {
	text-decoration: underline;
}

.recipeImage {
	border: black solid 2px;
	max-width: 100%;
	/*max-width: 500px;*/
	height: auto;
}

.showDeleteStyling {
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
	overflow-y: hidden;
}

.recipeBackground {
	background: radial-gradient(circle, rgba(255, 232, 168, 1) 5%, rgba(173, 143, 62, 1) 60%);
}

.directions-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
