.handwriting {
	font-family: Itim;
}

.recipe-detail-div {
	width: 50%;
	margin: auto;
}

.title {
	text-decoration: underline;
}

.recipeImage {
	border: black solid 2px;
	width: 80%;
}

.showDeleteStyling {
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
	overflow-y: hidden;
	margin: auto;
}

.recipeBackground {
	background: radial-gradient(circle, rgba(255, 232, 168, 1) 5%, rgba(173, 143, 62, 1) 60%);
}

.directions-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

@media (max-width: 1200px) {
   .recipe-detail-div {
   		width: 70%;
   }

   .recipeImage {
   		width: 80%;
   		margin: auto;
   }
}

@media (max-width: 800px) {
   .recipe-detail-div {
   		width: 90%;
   }

   .recipeImage {
   		width: 90%;
   		margin: auto;
   }
}
