.card-div {
	width: 90%;
	cursor: pointer;
	background-color: #055227;
	padding-top: 15px;
}

.rec-card {
	margin: auto;
	border: 1px solid #79ad3e;
	object-fit: cover;
  object-position: center;
  width: 90%;
  height: 250px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.new-card {
	margin: auto;
	object-fit: cover;
  object-position: center;
  width: 90%;
  height: 250px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.card-div:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
   .card-div img {
   		height: 200px;
   }
}

@media (max-width: 767px) {
   .card-div img {
   		height: 250px;
   }
}

@media (max-width: 600px) {
   .card-div img {
   		height: 200px;
   }
}

@media (max-width: 450px) {
   .card-div img {
   		height: 150px;
   }
}



