.edit-main-div {
	background-color: #055227;
	border: solid 2px #79ad3e;
	width: 40%;
	margin: auto;
}

.edit-input {
	width: 70%;
	margin: auto;
}

.edit-detail-loader {
   margin-top: 8%;
   margin-bottom: 10%;
}

@media (max-width: 1200px) {
   .edit-main-div {
   		width: 60%;
   }

   .edit-input {
   		width: 80%;
   }

   .edit-detail-loader {
         margin-top: 9%;
         margin-bottom: 10%;
      }
}

@media (max-width: 1000px) {
   .edit-detail-loader {
      margin-bottom: 15%;
   }
}

@media (max-width: 800px) {
   .edit-main-div {
   		width: 80%;
   }

   .edit-input {
   		width: 90%;
   }

   .edit-detail-loader {
         margin-top: 10%;
         margin-bottom: 20%;
   }
}

@media (max-width: 600px) {
   .edit-detail-loader {
      margin-top: 15%;
      margin-bottom: 28%;
   }
}

@media (max-width: 400px) {
   .edit-detail-loader {
      margin-top: 25%;
      margin-bottom: 35%;
   }
}
